@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(87, 139, 182);
    /* height: 100%; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(160, 159, 165);
}

.main_div {
    position: relative;
    width: 22em;
    height: 100vh;
}


.center_div {
    color: rgb(9, 129, 199);
    border: 1px solid rgb(10, 187, 231);
    background-color: #ffffff;
    word-break: break-all;
    overflow-y: scroll;
    padding: 33px;
    height: 100%;
    font-size: 25px;
}

input {
    outline: none;
    width: 80%;
    height: 30px;
    font-weight: 300;
    padding: 5px;
    border-radius: 0;
    border: none;
    font-size: 1em;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgba(7, 115, 134, 0.808);
}

#inp {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(7, 96, 240, 0.507);
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    width: 20%;
    height: 30px;
    background-color: rgb(13, 151, 206);
    color: white;
}

button:active {
    background-color: rgb(16, 8, 129);
}

.todo_style {
    margin: 5px;
    display: flex;
}

.cross {

    cursor: pointer;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(1, 79, 131);
    margin-right: 15px;
}